@use '../../../styles/variables' as *;

.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: $zinc-950;
}

.main-content {
  flex: 1;
  margin-left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
  padding: 0;

  @media (max-width: 768px) {
    margin-left: $sidebar-width;
    width: 100%;
    padding-bottom: 5rem;
  }
}