@use 'styles/variables' as *;
@use 'styles/typography' as *;
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  @include custom-scrollbar;
  background-color: $zinc-900;
}

.form-control {
  background-color: $zinc-800;
  border-color: $zinc-700;
  color: $zinc-100;

  &:focus {
    background-color: $zinc-800;
    border-color: $violet-600;
    color: $zinc-100;
    box-shadow: 0 0 0 0.25rem rgba($violet-600, 0.25);
  }
}