.max-w-sm { max-width: 400px !important; }
.max-w-md { max-width: 440px !important; }
.max-w-lg { max-width: 600px !important; }
.max-w-xl { max-width: 800px !important; }

.max-w-400 { max-width: 400px !important; }
.max-w-25rem { max-width: 25rem !important; }

.min-w-220 { min-width: 220px !important; }
.min-w-0 { min-width: 0 !important; }
.min-h-0 { min-height: 0 !important; }
